@page
@model Korelskiy.GunShopASP.Pages.Accounts.AccountModel
@{
    ViewData["Title"] = "Account";
}

<h2>Личный кабинет</h2>

<div class="row">
    <img src="~/images/СJ.jpg"/>
    <div class="container">
        <p>Имя</p>
        <p>Фамилия</p>
    </div>
</div>

