@page
@model Korelskiy.GunShopASP.Pages.Accounts.AutoristaionModel
@{
}

@if (TempData["Autentification"] != null)
{
    <div class="alert-danger text-center">
        @TempData["Autentification"]
    </div>
}
<h2>Авторизация</h2>


<form method="post" class="mt-3" enctype="multipart/form-data">
    <input type="hidden" asp-for="User.Id" />
    <div class="row justify-content-center m-3">
        <div class="col col-lg-10">
            <div class="cardBoxShadow">
                <div class="card-header cardHeaderStyle text-center">
                    <h2>Авторизация</h2>
                </div>
                <div class="card-body cardBoxShadow text-center">
                    <div class="form-group row">
                        <label asp-for="User.Name" class="col col-lg-4 col-form-label text-right">Имя:</label>
                        <div class="col-12 col-lg-6">
                            <input asp-for="User.Name" class="form-control mr-2" placeholder="@Model.User.Name" />
                            <!--Добавляем сообщение валидации формы-->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="User.Password" class="col col-lg-4 col-form-label text-right">Пароль:</label>
                        <div class="col-12 col-lg-6">
                            <input asp-for="User.Password" class="form-control mr-2" placeholder="@Model.User.Password" />
                            <!--Добавляем сообщение валидации формы-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.25);">
                                <button type="submit" class="btn btn-success buttonShadow">Войти</button>
                                <a asp-page="index" class="btn btn-danger buttonShadow">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>