@page
@model Korelskiy.GunShopASP.Pages.Accounts.EnterModel
@{
    ViewData["Title"] = "Enter";
}

<h2>Вход в аккаунт</h2>

<div class="container">
    <p>Логин</p>
    <input type="text" size="40" />
    <p>Пароль</p>
    <input type="text" size="40" />
</div>

