@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

@if (TempData["SuccessRegistration"] != null)
{
    <div class="alert-success text-center">
        @TempData["SuccessRegistration"]
    </div>
}
@if (TempData["SuccessAutentification"] != null)
{
    <div class="alert-success text-center">
        @TempData["SuccessAutentification"]
    </div>
}

<div class="row text-center">
    <div class="col">
        <h1>Здарова!</h1>
        <h2>Здесь вы можете приобрести ствол(только если вам больше 18)</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img class="vietnamPhoto" src="~/images/Vietnam.png" />
    </div>
</div>
