@page
@model Korelskiy.GunShopASP.Pages.Contacts.ContactsModel
@{
    ViewData["Title"] = "Contacts";
}

<h2>Контакты</h2>


<div class="container">
    <p>Адрес магазина: г.Москва, ул.Нежинская, д.7</p>
    <p>(Возьми паспорт и разрешение на оружие)</p>
    <hr>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A054ffc7b2b7153a0e0038ee91c82b9cfe626bc2c9f20c976f1e2aa4fb8b37a15&amp;width=680&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
</div>

